[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
torchvision = "*"
matplotlib = "*"

[dev-packages]
ipykernel = "*"
torch-tb-profiler = "*"
tensorboard = "*"

[requires]
python_version = "3.8"
